<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-family: Arial;">

	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title></title>
	</head>
	
	<body>
	
		<!--/* Contenu de l'email */-->
		<div th:utext="${content}">
		</div>


        <div layout:fragment="content">
            <p th:text="#{mail.hello}">Bonjour,</p>
            <p th:text="#{mail.invoice.intro(${invoiceBean.getCodeOrder()},${invoiceBean.paymentDate})}">Vous trouverez votre facture pour la commande TOTO passée le TOTO pour les évènements suivants :</p>
            <ul th:remove="all-but-first">
                <li th:each="product : ${invoiceBean.getProducts()}" th:text="${product}">Reading</li>
                <li>Writing</li>
                <li>Bowling</li>
            </ul>
            <p th:text="#{mail.invoice.noexchange}">Nous vous rappelons que votre commande est ferme et définitive, les billets ni repris, ni échangés.</p>
            <p th:text="#{mail.thanks.order}">Nous vous remercions de votre commande.</p>
            <p th:text="#{mail.cordialementPoint}">Cordialement.</p>
        </div>


        <br/>

        <!--/* Signature de l'email */-->
        <div style="float: left;">
            --
            <br/>
            <div><b><span th:text="${signature.getName()}"></span></b></div>
            <div th:text="${signature.getAddress()}"></div>
            <div th:text="${signature.getPostalCodeAndCity()}"></div>
            <div th:text="${signature.getCountry()}"></div>
            <br/>
            <div th:text="${signature.getEmail()}"></div>
            <div th:text="${signature.getPhoneNumber()}"></div>
        </div>

	    <!--/* Logo Tick&Live */-->
	    <img style="margin-left: 70px; margin-top: 5px;" src="logoMP-horizontal-small.png" th:src="'cid:marketPay'" />

	</body>
</html>
